<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Task Details</h1>
    <table border="1">
        <tr>
            <!-- <th>id</th> -->
            <th>task_id</th>
            <th>task_name</th>
            <th>task_start_date</th>
            <th>task_end_date</th>
        
            <th>Task_Edit</th>
            <th>Task_Delete</th>
        </tr>
        {% csrf_token %}
        {% for i in data %}
        
        <tr>
            <!-- <td>{{ i.id }}</td> -->
            <td>{{ i.task_id }}</td>
            <td>{{ i.task_name }}</td>
           
            <td>{{ i.task_start_date }}</td>
            <td>{{ i.task_end_date }}</td> 
            <td>
                <a href="{% url 'edit' i.id %}">Edit</a> 
            </td>
            <td>
                <a  href="{% url 'delete' i.id %}">Delete</a>
            </td>     
        </tr>
        {% endfor %}
    </table>

    <br>
    <hr>
    <hr>
   
    <hr>
   <a href = "{% url 'add' %}">ADD</a>

   <br>
   <br>
   <a href="{% url 'logout' %}">Logout</a>
   
</body>
</html>